html{
    background-color: rgb(13, 6, 85);
}

*{
    margin: 0px;
    padding: 0px;
}

#cabecera{
    overflow: hidden;
    padding: 1em;
    width: 97.5%;
    background-color: rgb(5, 2, 41);
}

#logo{
    float: left;
    margin-left: 3%;
}

#Nombre_pag{
    position: absolute;
    color: #a10000;
    font-family:Times;
    margin-top: 1.2%;
    margin-left: 11%;
    font-size: 2.5em;
    
}

nav{
    width: 70%;
    margin-top: 2.5%;
    margin-right: -2%;
    float: right;
}

/*Aquí el display:flex;  está sola mente para que con el gap de 20px se aplique una separacíon de 20px entre una opción y otra del nav*/
nav ul{
    display:flex;
    font-family: "Chivo Mono", monospace;
    gap: 15px;
}

/*El font-weigth sirve para darle grosor al texto, el tex-decoration para quitar el añadido que trae la letra al ser un href,
el transform para poner las letras en mayúsculas y transition para establecer la duración de la animación cuando pasas el ratón por encima*/
nav ul a{
    font-size: 1.2em;
    color: rgb(255, 0, 0);
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s ease;
}

/*El hover hace referencia a cuando pones el ratón sobre la palabra y el "not hover" para cuando NO está el ratón encima*/
ul:hover a{
    color:#26d661;
}

ul:hover a:not(:hover){
    color: rgb(255, 0, 0);;
    opacity: 0.3;
    filter: blur(1px);
}

#cuerpo{
    color: rgb(6, 172, 0);
    margin: 5px;
    font-size: 1.2em;
    line-height: 1.3em;

}

#imgderecha{
    float:right;
    margin-left: 5px;
}

#hist{
    color: #26d661;
}

#cuerpo_hist{
    margin-left: 1%;
    margin-right: 2%;
    color:rgb(6, 172, 0);
    font-size: 1em;
}

#foto_virus{
    margin-left: 30%;
}
#foto_convenio{
    height: 30%;
    margin-left: 30%;;
}

#galeria {
    margin-left: 18%;
    display: flex;
    width: 750px;
    height: 380px;

}

#galeria img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s;
}


#galeria img:hover{
    cursor: crosshair;
    width: 400px;
    opacity: 1;
    filter: contrast(120%);
}
