html{
    background-color: rgb(13, 6, 85);
}

*{
    margin: 0px;
    padding: 0px;
}

#cabecera{
    overflow: hidden;
    padding: 1em;
    width: 98%;
    background-color: rgb(5, 2, 41);
}

#logo{
    float: left;
    margin-left: 3%;
}

#Nombre_pag{
    position: absolute;
    color: #a10000;
    font-family:Times;
    margin-top: 2.7%;
    margin-left: 12%;
    font-size: 2.5em;
    
}

nav{
    width: 70%;
    margin-top: 3.5%;
    margin-right: -10%;
    float: right;
}

/*Aquí el display:flex;  está sola mente para que con el gap de 20px se aplique una separacíon de 20px entre una opción y otra del nav*/
nav ul{
    display:flex;
    font-family: "Chivo Mono", monospace;
    gap: 15px;
}

/*El font-weigth sirve para darle grosor al texto, el tex-decoration para quitar el añadido que trae la letra al ser un href,
el transform para poner las letras en mayúsculas y transition para establecer la duración de la animación cuando pasas el ratón por encima*/
nav ul a{
    font-size: 1.2em;
    color: rgb(255, 0, 0);
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s ease;
}

/*El hover hace referencia a cuando pones el ratón sobre la palabra y el "not hover" para cuando NO está el ratón encima*/
ul:hover a{
    color:#26d661;
}

ul:hover a:not(:hover){
    color: rgb(255, 0, 0);;
    opacity: 0.3;
    filter: blur(1px);
}

#cuerpo{
    color: rgb(6, 172, 0);
    margin: 5px;
    font-size: 1.2em;
    line-height: 1.3em;

}

#imgderecha{
    float:right;
    margin-left: 5px;
}

#hist, #sist, #leng, #contacto, #inicio, #noticias{
    color: #26d661;
}

#cuerpo_hist, #cuerpo_sist, #cuerpo_leng, #cuerpo_not{
    margin-left: 1%;
    margin-right: 2%;
    color:rgb(6, 172, 0);
    font-size: 1em;
}

#cuerpo_not h1{
    font-size: 2.5em;
}

#cuerpo_not h2{
    text-align: center;
}

#foto_virus{
    margin-left: 40%;
}
#foto_convenio{
    height: 30%;
    margin-left: 30%;;
}

#galeria {
    margin-left: 30%;
    display: flex;
    width: 750px;
    height: 380px;

}

#galeria img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s;
}


#galeria img:hover{
    cursor: crosshair;
    width: 400px;
    opacity: 1;
    filter: contrast(120%);
}

#tipos_troy{
    margin-left: 2%;
}

#tipos_troy a{
    text-decoration:none;
    color: rgb(6, 172, 0);
    opacity: 100;
}

#footer{
    margin-top: 4%;
    width: 98%;
    float: left;
    height: 300px;
}

#cuadro1, #cuadro2, #cuadro3{
    font-family: "Chivo Mono", monospace;
    color: rgb(6, 172, 0);
    font-size: 1.5em;
    text-align: center;
    border: 2px solid green;
    width: 25%;
    height: 230px;
    float: left;
    margin-left: 7%;
}

#cuadro3 a{
    color: rgb(6, 172, 0);
}

legend{
    color: white;
    text-align: center;
    font-size: 1.2em;
}

label{
    color: #26d661;
    font-size: 1.3em;
    position: relative;
    left: 43%;
}

input{
    font-size: 1.1em;
    position: relative;
    left: 31%;
}

#correo{
    position: relative;
    left: 36%;
}

#codigoP{
    position: relative;
    left: 40%;
}

textarea{
    position: relative;
    left: 6%;
}

#textCuadro{
    position: relative;
    left: 41%;
}

#borrar{
    position: relative;
    left: 3%;
    font-size: 1.3em;
    color: #26d661;
    background-color: black;
}

#enviar{
    position: relative;
    left: 65%;
    font-size: 1.3em;
    color: #26d661;
    background-color: black;
}

#formulario{
    width: 35%;
    position: relative;
    left: 32%;
}